* {
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: 36px;
}

.heading h2 {
  font-size: 28px;
}

.input {
  padding-top: 10px;
  display: flex;

  width: 50vw;
  margin-right: auto;
  margin-left: auto;
}

.input input {
  flex: 2;
}

.input button {
  background-color: #146b3a;
  color: #ffffff;
  flex: 1;

  min-height: 40px;
}

.input button:hover {
  background-color: #f8b229;
}

#result {
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
}

/*if the screen is less than 600px wide (i.e. a mobile device)*/
@media screen and (max-width: 600px) {
}
